[submodule "Vector/vendor/spdlog"]
	path = Vector/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vector/vendor/glfw"]
	path = Vector/vendor/glfw
	url = https://github.com/zecuse/glfw
	ignore = dirty
